*{
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
}

main {
    text-align: center;
}



.thumbnail {
    display: inline;
    


}

.thumbnail img {
    width:30%;
    height: auto;
    

}

@media screen and (max-width: 768px){
    .thumbnail{
        display: block;
        text-align: center;
    }

    .thumbnail img{
        width: 100%;
    }
}
    
